<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>知乎日报</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        html {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
        }

        body {
            padding: 0;
            margin: 0;
            width: 100%;
            height: calc(100% - 65px);
        }

        #app {
            width: 100%;
            height: 100%;
        }

        header {
            width: 100%;
            height: 65px;
            line-height: 65px;
            background: #4FAEE6;
            color: #fff;
            font-size: 20px;
            padding-left: 50px;
            position: fixed;
            top: 0;
        }

        .input-box {
            width: 100%;
            position: fixed;
            bottom: 0;
            height: 40px;
            line-height: 40px;
            border-top: 1px solid #f0f0f0;
            text-align: center;
            display: flex;
            justify-content: center;
            padding: 20px 0;
        }

        .usernickname-box,
        .roomname-box {
            width: 100%;
            height: 100%;
            background: rgba(240, 240, 240, 0.5);
            z-index: 1;
            position: fixed;
            top: 0;
            display: none;
        }

        .usernickname-input-box,
        .roomname-input-box {
            width: 250px;
            height: 50px;
            margin: 200px auto;
            border: 1px solid #000;
            border-radius: 20px;
            padding: 20px;
        }

        .content-box {
            max-width: 500px;
            height: 100%;
            overflow: auto;
            margin: 65px auto 0;
            border-left: 1px solid #f0f0f0;
            border-right: 1px solid #f0f0f0;
        }

        @media screen and (max-width: 400px) {
            .content-box {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <div id='app'>
        <header>
            邮箱爆破
        </header>
        <div class='content-box'>
            <el-button @click='dialogvisible = !dialogvisible'>
                添加账号
            </el-button>
            <el-table :data="tableData" style="width: 100%" height="90%">
                <el-table-column prop="email" label='email'>
                </el-table-column>
                <el-table-column label="options" width="100">
                    <template slot-scope="scope">
                        <div>
                            <el-button type='text' @click='setuseremail(scope.row.email)'>删除</el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
            <el-dialog 
                title="添加账号"
                :visible.sync="dialogvisible"
                width="50%"
                :close-on-click-modal="false"
            >
                <el-input v-model='value' placeholder="请输入邮箱账号">

                </el-input>
                <el-button @click='setuseremail'>提交</el-button>
            </el-dialog>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.bootcss.com/socket.io/2.1.0/socket.io.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.1.0/axios.min.js"></script>
<script>
    if (localStorage.getItem('token')) {
        axios.defaults.headers.common['token'] = localStorage.getItem('token');
    }
    const vue = new Vue({
        el: '#app',
        data: {
            visible: false,
            tableData: [],
            aaa: 123,
            date: '',
            dialogvisible: false,
            value: ''
        },
        methods: {
            getList() {
                axios.post('/api/getuseremaillist').then(json => {
                    this.tableData = json.data
                })
            },
            setuseremail(email) {
                let obj = {};
                if(!email['isTrusted']) {
                    obj = {
                        email: email, 
                        type: 0
                    }
                } else {
                    obj = {
                        email: this.value
                    }
                }
                axios.post('/api/setuseremaillist', obj).then(json => {
                    if(json.status === 0) {
                        this.getList();
                        this.dialogvisible = false;
                    } else {
                        this.$message({
                            type: 'warning',
                            message: json.msg
                        })
                    }
                })
            }
        },
        created() {
            this.getList();
        }
    })
</script>

</html>