<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>制冷百科</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        html {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
        }

        body {
            padding: 0;
            margin: 0;
            width: 100%;
            height: calc(100% - 65px);
        }

        #app {
            width: 100%;
            height: 100%;
        }

        header {
            width: 100%;
            height: 65px;
            line-height: 65px;
            background: #4FAEE6;
            color: #fff;
            font-size: 20px;
            padding-left: 50px;
            position: fixed;
            top: 0;
        }

        .input-box {
            width: 100%;
            position: fixed;
            bottom: 0;
            height: 40px;
            line-height: 40px;
            border-top: 1px solid #f0f0f0;
            text-align: center;
            display: flex;
            justify-content: center;
            padding: 20px 0;
        }

        .usernickname-box,
        .roomname-box {
            width: 100%;
            height: 100%;
            background: rgba(240, 240, 240, 0.5);
            z-index: 1;
            position: fixed;
            top: 0;
            display: none;
        }

        .usernickname-input-box,
        .roomname-input-box {
            width: 250px;
            height: 50px;
            margin: 200px auto;
            border: 1px solid #000;
            border-radius: 20px;
            padding: 20px;
        }

        .content-box {
            max-width: 1200px;
            height: 100%;
            overflow: auto;
            margin: 65px auto 0;
            border-left: 1px solid #f0f0f0;
            border-right: 1px solid #f0f0f0;
        }

        @media screen and (max-width: 400px) {
            .content-box {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <div id='app'>
        <header>
            制冷百科
        </header>
        <div class='content-box'>
            <el-table :data="tableData" style="width: 100%" height="90%" v-loading='flag'>
                <el-table-column
                    prop="id"
                    width="100">
                </el-table-column>
                <el-table-column prop="hint" label="缩略图">
                    <template slot-scope="scope">
                        <div>
                            <el-image style="width: 100px; height: 100px" :src="scope.row.coverimage"
                                :preview-src-list='[scope.row.coverimage]'>
                            </el-image>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="title" label="标题">
                </el-table-column>
                <el-table-column prop="summary" label="总结">
                </el-table-column>
                <el-table-column prop="origin" label="来源">
                </el-table-column>
                <el-table-column prop="time" label="时间">
                </el-table-column>
                <el-table-column prop="tag" label="类型">
                    <template slot-scope="scope">
                        <div>
                            <el-button type='text' @click='window.open(scope.row.tag_link)'>{{scope.row.tag}}</el-button>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="tag" label="归属">
                    <template slot-scope="scope">
                        <div>
                            <el-button type='text' @click='window.open(scope.row.img_mark_link)'>{{scope.row.img_mark_title}}</el-button>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column label="链接" width="100">
                    <template slot-scope="scope">
                        <div>
                            <el-button type='text' @click='window.open(scope.row.link)'>查看</el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
            <div style='text-align: center;'>
                <el-pagination
                    layout="prev, pager, next"
                    :total="page.total"
                    :page-size='10'
                    @current-change='changepage'
                    @prev-click='changepage'
                    @next-click='changepage'
                >
                </el-pagination>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.bootcss.com/socket.io/2.1.0/socket.io.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.1.0/axios.min.js"></script>
<script>
    if (localStorage.getItem('token')) {
        axios.defaults.headers.common['token'] = localStorage.getItem('token');
    }
    const vue = new Vue({
        el: '#app',
        data: {
            visible: false,
            tableData: [],
            aaa: 123,
            date: '',
            flag: false,
            page: {
                current: 1,
                total: 0,
                pagesize: 10
            }
        },
        methods: {
            changepage(val) {
                this.page.current = val;
                this.getList();
            },
            getList() {
                this.flag = true
                axios.post('/api/xige/getlist',{
                    page: this.page.current
                }).then(json => {
                    if (json.status == 400) {
                        this.login();
                        return;
                    }
                    this.tableData = json.rows;
                    this.page.total = json.count;
                    this.flag = false
                })
            },
            login() {
                axios.post('/api/login').then(json => {
                    if (json.status === 0) {
                        localStorage.setItem('token', json.data.token);
                        axios.defaults.headers.common['token'] = localStorage.getItem('token');
                        this.getList();
                    }
                })

            }
        },
        created() {
            if (!localStorage.getItem('token')) {
                this.login()
            } else {
                this.getList();
            }
        },
        filters: {
            handletime() {

            }
        }
    })
</script>

</html>